@import "assets/font/font.css";
@import "assets/css/swiper-bundle.min.css";
@import "assets/css/jquery.formstyler.css";
@import "assets/css/jquery.formstyler.theme.css";
@import "assets/css/jquery.fancybox.css";
@import "assets/css/normalize.css";
@import "assets/css/header.css";
@import "assets/css/home.css";
@import "assets/css/footer.css";
@import "assets/css/card.css";
@import "assets/css/order.css";
@import "assets/css/catalog.css";
@import "assets/css/contact.css";
@import "assets/css/text-pages.css";
@import "assets/css/modal.css";


