.contact__main{
    margin: 30px 0 80px;
    display: flex;
}
.contact__info{
    max-width: 620px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact__info>p{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 44px;
}
.contact__info strong{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;

}
.contact__info>span{
    margin-top: 29px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #B69758;
}
.contact__data{
    margin-top: 20px;
}
.contact__data span{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}
.contact__form{
    background: #FFFFFF;
    max-width: 630px;
    width: 100%;
    margin-left: 10px;
    padding: 40px 20px;
}
.contact__form>form{
    width: 100%;
}
.contact__block{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.contact__form .leave-carcha {
    margin: 6px 0 20px;
}
.contact-map{
    display: flex;
    margin-bottom: 30px;
}
.contact-map img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.entry-error label input{
    border: 1px solid #E5875D;
}
.entry-error small{
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
}
.carcha-error{
    position: relative;
}
.carcha-error:after{
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    max-width: 299px;
    width: 100%;
    height: 74px;
    border: 1px solid #E5875D;
}
.carcha-error small{
    display: block;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #E5875D;
}


.error-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 200px 30px;
    position: relative;
}
.page-found{
    position: absolute;
}
.page-found strong{
    font-weight: 400;
    font-size: 30px;
    line-height: 180%;
    text-align: center;
    color: #FFFFFF;
}
.page-found small{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #6C6666;
    display: block;
}
.back-main-page{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #B69758;
    padding-left: 18px;
    position: relative;
}
.back-main-page:before{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 7px;
    height: 7px;
    border-top: 1px solid #777777;
    border-right: 1px solid #777777;
    transform: rotate(-135deg);
    transition: 0.3s;
}
@media (max-width: 991px){
    .contact__form {
        padding: 30px 20px;
    }
    .contact__info strong {
        font-size: 24px;
        line-height: 34px;
    }
    .error-pages {
        padding: 100px 0;
    }

}
@media (max-width: 760px){
    .contact-map {
        height: 225px;
    }
    .contact__main {
        margin: 30px 0 40px;
        flex-direction: column;
    }
    .contact__form {
        margin-left: 0;
        margin-top: 10px;
    }
    .contact__info {
        padding: 40px 15px;
    }
}
@media (max-width: 570px){
    .contact__info strong {
        font-size: 22px;
        line-height: 32px;
    }
    .contact__info>p {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 25px;
    }
    .contact__form {
        padding: 30px 15px;
    }
    .page-found strong {
        font-size: 22px;
        line-height: 169%;
    }
    .error-pages {
        padding: 80px 0;
    }
}