.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.close{
    position: absolute;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 99;
    transition: 0.3s;
    background: rgba(0,0,0,0.8);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-registration{
    position: relative;
    max-width: 429px;
    width: 100%;
    background: #FFFFFF;
    padding: 40px;
}
.modal-registration h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #1F1F1F;
}
.modal__form{
    margin-top: 40px;
}
.modal-registration .button{
    margin: 40px auto 0;
}
.mod-thenk .button{
    max-width: 250px;
    width: 100%;
}
.modal-registration>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #323232;
    margin-top: 5px;
}

@media (max-width: 570px){
    .modal-registration {
        max-width: 302px;
        padding: 35px 15px;
    }
    .close {
        top: -16px;
        right: 0px;
    }
}