.order-fl{
    display: flex;
    align-items: flex-start;
    margin-top: 64px;
    margin-bottom: 70px;
}
.order-checkout{
    background: #FFFFFF;
    border-radius: 15px;
    padding: 25px 30px 30px;
    max-width: 615px;
    width: 100%;
}
.order-checkout + .order-checkout{
    margin-left: 10px;
}
.order-checkout h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #1F1F1F;
}
.checkout__info{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(182,151,88,0.5);
}
.checkout__info strong{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #B69758;
}
.checkout__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout__block{
    width: 100%;
    margin-top: 13px;
}
.checkout__wrap .checkout__block{
    width: 49%;
}
.checkout__wrap .checkout__block:nth-child(even){
    margin-left: 10px;
}
.checkout__wrap .checkout__block:last-child{
    width: 100%;
}
.checkout__block p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #323232;
}
.checkout__block small{
    color: #E5875D;
}
.checkout__block span{
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #696969;
}
.checkout__inp label input {
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #323232;
    padding: 4px 12px;
}
.checkout__inp label input::placeholder{
    color: #A7A7A7;
}
.checkout__inp label textarea {
    width: 100%;
    height: 86px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #323232;
    padding: 4px 12px;
}
.checkout__inp label textarea::placeholder{
    color: #A7A7A7;
}
.jq-selectbox{
    width: 100%;

    position: relative;
}
.jq-selectbox:after{
    content: "";
    position: absolute;
    top: 15px;
    right: 16px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #777777;
    border-right: 1px solid #777777;
    transform: rotate(135deg);
    transition: 0.3s;
}
.opened:after{
    transform: rotate(-45deg);
    top: 18px;
}
.jq-selectbox__select-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #323232;
    padding: 4px 12px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 2px;


}
.jq-selectbox li {
    padding: 4px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    transition: 0.3s;
}
.jq-selectbox li:hover{
    background: #A7A7A7;
    color: #FFF;
}
.jq-selectbox li.selected {
    background: #A7A7A7;
    color: #FFF;
    border-radius: 0;
}

.checkcontainer-radio{
    position: relative;
    cursor: pointer;
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #323232;
    padding-left: 33px;
}


.checkcontainer-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #D6D6D6;


}
.checkcontainer-radio .checkmark:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #B69758;
    border-radius: 50%;
    display: none;
}
.checkcontainer-radio input:checked ~ .checkmark{
    border: 1px solid #B69758;
}
.checkcontainer-radio input:checked ~ .checkmark:after {
    display: block;
}
.choice-livery__fl{
    display: flex;
    align-items: center;
}
.choice-of-livery{
    margin-top: 40px;
}
.choice-of-livery strong{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #B69758;
}
.choice-of-livery>p{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-top: 3px;
    color: #A7A7A7;
}
.choice-livery__fl{
    margin-top: 20px;
}
.choice-livery__fl .checkcontainer-radio{
    margin-right: 30px;
}
.payment-choice label{
    margin-top: 15px;
}
.checkout__form .button{
    margin-top: 45px;
}
.cart-order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(182,151,88,0.5);
    padding-bottom: 20px;
}

.cart-order p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #A7A7A7;
}
.cart-order span{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #B69758;
}
.order-item{
    border-bottom: 1px solid rgba(182,151,88,0.5);
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.order-box{

    display: flex;
    align-items: flex-start;
}
.order-box img{
    max-width: 80px;
    width: 100%;
    height: 80px;
}
.order-name{
    margin-left: 22px;
    max-width: 150px;
    width: 100%;
}
.order-name p{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #A7A7A7;
}
.order-name p span{
    color: #B69758;
    margin-left: 4px;
}
.order-name strong{
    display: block;
    margin-top: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1F1F1F;
}
.order-price{
    display: flex;
    align-items: flex-start;
    margin-left: 17px;
}
.order-price strong{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #1F1F1F;
    white-space: nowrap;
}

.delete{
    background: unset;
    margin-left: 25px;
}

.order-count {
    width: 75px;
    margin: 0 20px;

}
.order-item .add-catalog-val-count{
    padding: 4px 8px;
    height: 27px;
}
.order-count .catalog-count-value {
    height: 24px;
    font-size: 14px;
}
.order-count .increment {
    font-size: 18px;
    line-height: 24px;
    height: 23px;
}
.goods-worth__price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.goods-worth__price span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #1F1F1F;
    display: block;
    margin-right: 15px;
}
.goods-worth__price strong{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #1F1F1F;

}
.goods-total{
    background: #F9EFDD;
    padding: 19px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.goods-total span{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #1F1F1F;
    display: block;
    margin-right: 15px;
    margin-left: 82px;
}
.goods-total strong{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #1F1F1F;
}


.order-completed .goods-worth__price{
    justify-content: flex-end;
}

.order-completed .goods-total {
    justify-content: flex-end;
    padding-right: 20px;
}
.order-completed .goods-worth__price strong {
    max-width: 116px;
    width: 100%;
}
.order-completed .order-name {
    max-width: 290px;
}
.order-completed .order-price {
    margin-left: 0;
    margin-right: 40px;
}
.comp-proces{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.completed-number{
    display: flex;
    align-items: center;
}
.completed-number p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
}
.completed-number span{
    font-size: 16px;
    line-height: 24px;
    margin-left: 8px;
    color: #B69758;
    font-weight: 700;
    text-transform: uppercase;
}
.in-processing{
    padding: 5px 10px;
    width: 130px;
    height: 28px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.in-processing img{
    margin-right: 10px;
}
.comp-details{
    border-top: 1px solid rgba(182,151,88,0.5);
    border-bottom: 1px solid rgba(182,151,88,0.5);
    padding: 5px 0 20px;
    margin-bottom: 20px;
}
.comp-details__box{
    margin-top: 15px;
    display: flex;
    align-items: flex-start;

}
.comp-details__box strong{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #B69758;
    display: block;
    max-width: 200px;
    width: 100%;
}

.comp-details__box ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #323232;
}
.comp-help p, .comp-help span{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #323232;
}
.comp-help p b{
    font-weight: 700;
}
.comp-help span{
    color: #B69758;
}
.order-completed{
    align-items: unset;
}
@media (max-width: 1200px){
    .order-checkout {
        padding: 20px 20px 25px;
    }
    .checkout__wrap .checkout__block {
        width: 48%;
    }
    .choice-of-livery {
        margin-top: 20px;
    }
    .checkout__form .button {
        margin-top: 25px;
    }
    .order-name {
        margin-left: 12px;
    }
    .order-count {
        margin: 0 13px;
    }
    .delete {
        background: unset;
        margin-left: 16px;
    }
}
@media (max-width: 1099px){
    .order-fl {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
    .order-checkout + .order-checkout {
        margin-left: 0;
        margin-top: 20px;
    }
}
@media (max-width: 760px){
    .order-checkout h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .checkout__wrap {
        flex-direction: column;
    }
    .checkout__block {
        width: 100%;
    }
    .checkout__wrap .checkout__block:nth-child(even) {
        margin-left: 0;
    }

}
@media (max-width: 570px){
    .order-item {
        flex-direction: column;
    }
    .order-price {
        margin-left: 0;
        justify-content: flex-end;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .checkout__info strong {
        font-size: 18px;
        line-height: 25px;
    }
    .checkout__info {
        margin-top: 15px;
        padding-top: 15px;
    }
    .order-checkout {
        padding: 20px 15px 25px;
    }
    .choice-livery__fl .checkcontainer-radio {
        margin-right: 15px;
    }
    .cart-order {
        padding-bottom: 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    .cart-order p {
        margin-top: 10px;
    }
    .goods-total span {
        margin-left: 0;
    }
    .goods-total strong {
        font-size: 18px;
    }
    .order-fl {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .comp-details__box {
        align-items: flex-start;
        flex-direction: column;
    }
    .comp-proces {
        margin: 15px 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .completed-number {
        margin-bottom: 10px;
    }
}